.hd_nav{display: none}

/* easy */
.easy{height: calc(100vh - 72px)}
.easy_cont{top: 22.3959%;left: 0;width: 100%;height: 77.6041%}
.easy_cir{top: 0;width: 3415px;height: 2271px;margin-left: -1707.5px;border-radius: 50%;background-color: #ffb71c}
.easy_food01{top: 10px;margin-left: -884px}
.easy_food02{top: 327px;margin-left: 472px}
.easy_head{top: 50%;left: 0;right: 0;transform: translateY(-50%)}
.easy_ttls{margin-bottom: 22px}
.easy_nums{margin-bottom: 67px}
.easy_nums > *{vertical-align: bottom}
.easy_nums .num{width: 135px;height: 180px;margin-left: 12px;background-image: url("../public/img/page/fran/easy_num.png")}
.easy_nums .num:first-child{margin-left: 0}
.easy_nums .unit{margin-left: 17px}
.easy_slide{top: -144px;margin-left: -646px;width: 136px}
.easy_rotate{bottom: -20px;left: -19px}
.easy_btm .btm_bg{top: -23px;width: 1100px;height: 90px;margin-left: -590px;border-radius: 45px;background-color: #faf3cd}
.easy_btm .btm_txt > *{letter-spacing: -0.07em;vertical-align: baseline}
.easy_btm .btm_txt01{font-size: 22px}
.easy_btm .btm_txt01 em{font-weight: 700}
.easy_btm .btm_txt02{margin: 0 8px;font-size: 32px;font-weight: 900}
.easy_btm .btm_txt02 em{font-size: 26px}

/* fran */
.fran_box{overflow:hidden;position: relative;width: calc(100%/3);height: 460px;background-color: #047e67;box-sizing: border-box;color: #fff}
.fran_box02{border: 1px solid #047e67;border-bottom: none;background-color: #faf3cd;color: #047e67}
.fran_box .box_head{max-width: 384px;margin: 0 auto;padding-top: 42px}
.fran_box .box_ttl{margin-bottom: 18px;line-height: 1.3}
.fran_box .box_txt{font-size: 18px;line-height: 1.6666;letter-spacing: -0.03em}
.fran_box .box_txt em{font-weight: 700}
.fran_box .cover_img{top: 50%;display: flex; justify-content: center;align-items: center;width: 100%;transform: translate(-50%, -50%)}
.fran_box .box_cover { z-index: 3; }
.box01_shapes{display: flex;align-items: center;bottom: 17px;width: 536px;height: 157px;margin-left: -268px}
.box01_shapes .ellipse{display: flex;justify-content: center;align-items: center;width: 147px;height: 100px;background-repeat: no-repeat;font-weight: 700;font-size: 20px;line-height: 1.6;color: #faf3cd;text-align: center}
.box01_shapes .shape1{position: relative;z-index: 1;background-image: url('../public/img/page/fran/fran_box01_ellipse1.png')}
.box01_shapes .shape2{margin-left: -24px;background-image: url('../public/img/page/fran/fran_box01_ellipse2.png')}
.box01_shapes .shape3{position: relative;margin-left: 25px}
.box01_shapes .shape3 p{position: absolute;bottom: calc(100% + 20px);left: 0;right: 0;text-align: center}
.box01_shapes .dots{display: flex;gap: 6px;flex-wrap: nowrap;position: absolute;left: 273px;top: 79px;min-width: 40px}
.box01_shapes .dot{width: 2px;height: 2px;border-radius: 50%;background-color: #faf3cd}
.fran_box01 .box_cover{z-index: 2;background-image: url('../public/img/page/fran/fran_box01.jpg')}
.fran_box01 .cover_img{max-width: 622px;height: 421px;background: url('../public/img/page/fran/fran_cover01.png') no-repeat center / 100% 100%}
.fran_box02 .box_cover{background-color: #faf3cd}
.fran_box02 .cover_img{max-width: 624px;height: 421px;background-image: url('../public/img/page/fran/fran_cover02.jpg');border: 1px solid #047e67;border-radius: 50%}
.fran_box03 .box_cover{background-color: #047e67}
.fran_box03 .cover_img{max-width: 630px;height: 238px;border-radius: 50%;background-color: #ffb71c}
.fran_box03 .cover_txt{top: 50%;margin-left: -218.5px;margin-top: -193.5px}
.fran02_flow{margin-top: 25px}
.fran02_flow .flow_item{margin-right: 16px}
.fran02_img01{top: 282px;margin-left: -210px; z-index: 2;}
.fran02_img02{top: 290px;margin-left: 40px; z-index: 2;}
.fran02_img03{top: 234px;margin-left: -68px; z-index: 2;}
.fran03_cont{width: 212px;height: 212px;margin-top: 13px;border-radius: 50%;background-color: rgba(250,243,205,0.2)}
.fran03_cir01, .fran03_cir02, .fran03_cir03{border-radius: 50%;font-weight: 800;color: #fff;text-align: center}
.fran03_cir01, .fran03_cir02{width: 45px;height: 45px;background-color: rgba(250,243,205,0.3);font-size: 16px;line-height: 45px}
.fran03_cir01{top: 44px;left: 50px}
.fran03_cir02{top: 140px;left: 24px}
.fran03_cir03{top:65px;right: 0;width: 90px;height: 90px;background-color: #ffbe32;font-size: 20px;line-height: 90px}
.fran03_txts{top: 82px;left: 222px}
.fran_btm_flow{background-color: #047e67;border-top: 1px solid #ffb71c}
.fran_btm_flow .flow_item{margin-right: 60px;font-size: 20px;font-weight: 700;line-height: 50px;color: #faf3cd}
.fran_btm_flow .lt{letter-spacing: -0.03em}
.fran_btm_flow .oblique{font-style: oblique}

/* menu */
.menu{height: 596px;background-image: url('../public/img/page/fran/menu_bg.jpg')}
.menu_slide{padding-top: 110px}
.menu_sl_bg{bottom: -33px;margin-left: -273px}
.menu_slide .swiper-slide{width: auto;}
.menu_sl{transform: scale(0.6);transition: transform 0.8s}
.menu_slide .swiper-slide-active .menu_sl{transform: scale(1)}
.menu_txt{opacity: 0;top: -10px;left: -80px;font-size: 50px;font-weight: 900;line-height: 1.2;color: #faf3cd;transition: opacity 0.8s}
.menu_slide .swiper-slide-active .menu_txt{opacity: 1}

/* tasty */
.tasty{height: 740px;background-image: url('../public/img/page/fran/tasty_bg.jpg')}
.tasty_flow{top: 320px;left: 0;width: 100%}
.tasty_flow .flow_item{margin-right: 30px}
.tasty_img{background-image: url('../public/img/page/fran/tasty_img.png')}

/* speed */
.speed_head{z-index: 1;top: 126px;left: 0;right: 0;color: #047e67}
.speed_ttl01, .speed_ttl02{color: #006e5d}
.speed_ttl01{margin-bottom: 15px}
.speed_ttl02{margin-bottom: 40px}
.speed_ttl02 > *{vertical-align: middle}
.speed_ttl02 .ttl_img{margin-left: 17px}
.speed_txt01{margin-bottom: 17px;letter-spacing: -0.015em}
.speed_txt02{line-height: 1}
.speed_rotate{top: 45px;margin-left: 500px;animation: rotate 10s infinite linear}
.speed_time{width: 276px;margin: 80px auto 0}
.speed_time .min{top: 114px;left: 74px;width: 49px;height: 64px;background: url('../public/img/page/fran/speed_min.png') no-repeat 0 0}
.speed_svg{bottom: -1px;left: 0;height: 276px}
.speed_wrap > *{position: relative;width: 50%;height: 1000px}
.speed01{background-color: #ffb71c;color: #047e67}
.speed02{background-color: #faf3cd;color: rgba(125,121,102,0.7)}
.speed_cont{bottom: 100px;left: 0;right: 0}
.speed_cont .cont_brand{width: 184px;margin: 0 auto 30px;border-radius: 24px;font-size: 26px;font-weight: 700;letter-spacing: -0.015em;line-height: 47px;color: #fff}
.speed01 .cont_brand{background-color: #047e67}
.speed02 .cont_brand{background-color: #7d7966}
.speed_cont .cont_txt{line-height: 1}
.speed_imgs{width: 600px;height: 540px;margin: 0 auto 47px}
.speed01 .dessert{bottom: 0;left: 141px}
.speed_stamp{top: 50%;left: 0;right: 0}

@keyframes rotate {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}

/* cafe */
.cafe{border: 10px solid #ffb71c;box-sizing: border-box}
.cafe_video{background-image: url('../public/img/page/fran/cafe_video.jpg')}
.cafe_video video{object-fit: cover}
.cafe_head{z-index: 2;top: 122px;left: 0;right: 0}
.cafe_ttl{margin-bottom: 35px;letter-spacing: -0.03em;color: #fff}
.cafe_ttl em{font-weight: 800}
.cafe_boxs::before,
.cafe_boxs::after{z-index: 1;content: '';position: absolute;top: 0;width: 1px;height: 100%;background-color: #ffb71c}
.cafe_boxs::before{left: calc(100%/3)}
.cafe_boxs::after{right: calc(100%/3)}
.cafe_box{position: relative;width: calc(100%/3);height: 935px}
.cafe01, .cafe03{background-color: rgba(60,41,24,0.6);color: #fff}
.cafe_inn{top: 534px;left: 0;right: 0}
.cafe_sub{margin-bottom: 25px;font-size: 30px;letter-spacing: -0.03em;line-height: 1.3}
.cafe_sub em{font-size: 40px;font-weight: 800}
.cafe01_nums01{margin-bottom: 20px}
.cafe01_stamp{bottom: 62px;left: 0;right: 0;width: 100%;max-width: 490px;margin: 0 auto}

.cafe02{color: #fff}
.cafe02_cont{bottom: 165px;left: 0;right: 0}
.cafe02_label{display: inline-block;margin: 0 auto 27px;padding: 0 28px;background-color: #047e67;border-radius: 20px;font-size: 20px;font-weight: 700;line-height: 40px;letter-spacing: -0.015em}
/* .cafe02_store{width: 603px;height: 580px} */
.cafe02_store{height: 338px}
.cafe02_store .store_img{z-index: 1;top: 0;left: 0;right: 0;width: 352px;height: 338px;margin: 0 auto;background-image: url('../public/img/page/fran/cafe02_store_bg.png')}
.cafe02_btm{bottom: 0;left: 0;display: flex;align-items: center;justify-content: center;width: 100%;height: 165px;background-color: #047e67}
.cafe02_ttl{margin-bottom: 19px}
.cafe02_txt{letter-spacing: -0.015em}

.cafe03_twrap{width: 246px;margin: 0 auto;text-align: left}
.cafe03_twrap > *{vertical-align: bottom}
.cafe03_twrap01{margin-bottom: 38px;color: #faf3cd}
.cafe03_twrap02{color: rgba(255,255,255,0.6)}
.cafe03_txt01{width: 85px;font-size: 18px;line-height: 1.3333;letter-spacing: -0.03em}
.cafe03_txt02{margin-right: 20px}
.cafe03_txt01 em{font-weight: 700}
.cafe03_icos01 .ico{bottom: 0;right: -27px}
.cafe03_icos02 .ico01{bottom: 0;right: -21px}
.cafe03_icos02 .ico02{bottom: 0;right: -42px}

/* suc */
.suc_head{z-index: 1;;margin-bottom: 302px;padding-top: 120px;color: #047e67}
.suc_ttl{margin-bottom: 30px;color: #006e5d}
.suc_ttl > *{line-height: 1.15}
.suc_sub{margin-bottom: 10px}
.suc_bg{height: 330px;background-color: #047e67}
.suc_wings .wing_line{background-color: #047e67}
.suc_foods{bottom: 0;left: 0;right: 0;max-width: 1832px;margin: 0 auto}
.suc_food{position: relative;width: 50%;height: 740px}
.suc_deco01{top: 0;left: 0}
.suc_dsrt01{bottom: 0;left: 72px}
.suc_deco02{top: 6px;right: 44px}
.suc_dsrt02{bottom: 0;right: 75px}
.suc_lis{z-index: 1;bottom: 70px;left: 0;right: 0}
.suc_li{vertical-align: middle}
.suc_li:first-child{margin-right: 30px}
.suc_flow{border-top: 1px solid #faf3cd;background-color: #047e67}
.suc_flow .flow_item{border-right: 1px solid #faf3cd}

/* fixed_lyr */
.fixed_lyr{height: 800px;background-image: url('../public/img/page/fran/fixed_lyr.jpg');background-attachment: fixed}

/* dlvr */
.dlvr{padding-bottom: 130px;background-image: url('../public/img/page/fran/dlvr_bg.jpg')}
.dlvr_head{padding-top: 125px}
.dlvr_ttl{margin-bottom: 20px;color: #006e5d}
.dlvr01{margin-bottom: 194px}
.dlvr01_inn{display: flex;justify-content: space-between;align-items: flex-end}
.dlvr01_box{position: relative;width: 600px;height: 600px}
.dlvr01_box .box_ttl{margin-bottom: 20px}
.dlvr01_box01{background-image: url('../public/img/page/fran/dlvr01_box01.jpg');color: #047e67}
.dlvr01_box01 .box_head{padding-top: 70px}
.dlvr01_box01 .box_nums{top: 270px;right: 90px;animation: blink03 1s infinite step-end}
.dlvr01_box02{display: flex;justify-content: center;align-items: center;background-color: #432a06;color: #fff}
.dlvr01_box02 .box02_cir{overflow: hidden;width: 544px;height: 544px;border-radius: 50%}
.dlvr01_box02 .cir_bg{background-image: url('../public/img/page/fran/dlvr01_box02_cir.jpg')}
.dlvr01_box02 .box_cont{bottom: 0;left: 0;right: 0}
.dlvr01_labels{width: 260px;margin: 30px auto 0}
.dlvr01_labels .box_label{background-color: #faf3cd;border-radius: 20px;font-size: 18px;font-weight: 700;line-height: 40px;letter-spacing: -0.03em;color: #432a06}
.dlvr01_labels .box_label em{font-weight: 800}
.dlvr01_slide{width: 267px;height: 301px;margin: 30px auto 0}
.dlvr01_slide .swiper-container{border-radius: 32px 32px 0 0}
.dlvr01_phone{bottom: 0;left: -3px}
.dlvr01_flow{width: 600px;border: 1px solid #432a06}
.dlvr01_flow .flow_item{margin-right: 38px}
.dlvr01_stamp{top: -76px;left: 0;right: 0;max-width: 1392px;margin: 0 auto}

.dlvr02_head{display: flex;justify-content: space-between;align-items: center;padding-bottom: 217px}
.dlvr02_line{width: calc(50% - 420px);height: 1px;background-color: #006e5d}
.dlvr02_ttls{color: #006e5d}
.dlvr02_ttls > *{vertical-align: middle}
.dlvr02_ttl_imgs{margin: 0 50px 0 44px}
.dlvr02_rotate{top: -165px;margin-left: -222px}
.dlvr02_box{height: 500px;padding-top: 84px;background-color: #fff;color: #047e67;box-sizing: border-box}
.dlvr02_box .box_twrap{padding-left: 90px}
.dlvr02_box .box_ttl01{margin-bottom: 8px}
.dlvr02_box .box_ttl02{margin-bottom: 25px}
.dlvr02_box .box_sub{margin-bottom: 6px;font-size: 26px;font-weight: 700;letter-spacing: -0.03em}
.dlvr02_box .box_lis{margin-top: 35px}
.dlvr02_box .box_li{width: 223px;background-color: #047e67;border-radius: 21px;line-height: 42px;color: #faf3cd}
.dlvr02_box .box_li:not(:last-child){margin-bottom: 15px}
.dlvr02_box .box_arr{bottom: 30px;left: 337px}
.dlvr02_lines{position: absolute;top: calc(100% - 12px);left: 0;width: 100%;height: 30px}
.dlvr02_lines .wing_line{top: 0;bottom: auto;right: 0;width: 19px;margin: 0 auto;background-color: #ffb71c}
.dlvr02_tabs{padding-right: 80px}
.dlvr02_tab .tab_btn{display: inline-block;margin-bottom: 37px}
.dlvr02_tab .btn_cir{width: 18px;height: 18px;border-radius: 50%;border: 1px solid #047e67;box-sizing: border-box}
.dlvr02_tab.on .btn_cir{border-width: 5px;background-color: #faf3cd}
.dlvr02_tab .btn_txt{margin-left: 10px;font-size: 20px;font-weight: 500;letter-spacing: -0.015em}
.dlvr02_tab .btn_txt em{color: #6abaab}
.dlvr02_tab .tab_bg{top: 50%;width: 220px;height: 220px;margin-top: -110px;margin-left: -110px;border-radius: 50%;background-color: #ffb71c;transform: scale(0)}
.dlvr02_tab.on .tab_bg{transform: scale(1)}
.dlvr02_tab .tab_img{display: block;transform: rotate(0)}
.dlvr02_tab.on .tab_img{transform: rotate(15deg)}

/* smile */
.smile{background-image: url('../public/img/page/fran/smile_bg.jpg')}
.smile_fixed{display: flex;justify-content: center;align-items: center;width: 100%;padding:130px 0}
.smile_head{margin-bottom: 65px}
.smile_ttl01{margin-bottom: 15px;color: #fff}
.smile_ttl02{color: #ffb71c}
.smile01_stamp{z-index: 1;top: 208px;margin-left: 414px}
.smile01_stamp02{z-index: 1;top: 434px;margin-left: 160px}
.smile01_twraps{height: 114px;margin-bottom:48px;color: #fff}
.smile01_txt01{margin-bottom: 24px;font-size: 26px;letter-spacing: -0.03em}
.smile01_nums01{margin-right:70px}
.smile01_nums02{}
.smile01_nums03{opacity: 0;display: inline-block}
.smile01_nums03 .nums03_mid{top: 0;margin-left: -202px;width: 404px;height: 197px}
.smile01_nums03 .nums03_mid > *{overflow: hidden;position: absolute;top: 0;width: 100%;height: 100%}
.smile01_nums03 .nums03_mid01{right: 0}
.smile01_nums03 .nums03_mid01 img{position: absolute;top: 0;right: 0}
.smile01_nums03 .nums03_mid02{left: 0}
.smile01_round{width: 280px;margin: 70px auto 0;border-radius: 24px;background-color: #047e67;font-size: 24px;font-weight: 700;letter-spacing: -0.03em;line-height: 48px;color: #fff}

.smile02{height: 519px;padding-top: 78px;background: url('../public/img/page/fran/smile02_bg.png') no-repeat center bottom}
.smile02_ttl{top: 0;left: 0;right: 0}
.smile02_ttl_deco{top: -33px;margin-left: 150px}
.smile02_cont{padding-top: 125px}
.smile02_coupons{margin-bottom: 50px}
.smile02_coupon01{margin-right: 40px}
.smile02_plus > *{font-size: 30px;font-weight: 900;color: #ffb71c}
.smile02_plus > *:not(.rel){position: absolute;bottom: 0;left: 0}
.smile02_plus01{bottom: 0;left: -168px}
.smile02_plus02{top: 30px;right: -168px}
.smile02_txt{font-size: 26px;letter-spacing: -0.05em;color: #fff}

/* analyze */
.analyze{padding: 0 30px 130px}
.anlz_ttl{margin-bottom: 50px;padding-top: 130px}
.anlz_cont{background-color: #fbe7aa}
.anlz_top01{animation: blink01 1s infinite step-end}
.anlz_top02{animation: blink02 1s infinite step-end}

/* balance */
.balance{height: calc(100vh - 72px)}
.blc_rotate{top: 0;left: calc(50% - 100vw);width: 200vw;height: 200vw}
.blc_wrap{position: absolute;top: 0;left: calc(50% - 50vw);width: 100vw;height: calc(100vh - 72px)}
.blc_inn{left: 0;right: 0}

.blc_wrap01 .blc_inn{top: 12.5%}
.blc01_head{margin-bottom: 14.5vh;color: #006e5d}
.blc_ttl01{margin-bottom: 15px}
.blc01_cont{width: 51.1%;margin: 0 auto;padding-top: 44.45%;background-image: url('../public/img/page/fran/blc01_cont.png')}
.blc01_stamp01{top: -12.8234%;left: 10.6654%;width: 21.135%;padding-top: 21.135%;background-image: url('../public/img/page/fran/blc01_stamp01.png')}
.blc01_stamp02{top: -4.9494%;right: 14.9706%;width: 24.364%;padding-top: 15.6556%;background-image: url('../public/img/page/fran/blc01_stamp02.png')}

.blc_wrap02{transform: rotate(120deg);transform-origin: center 100vw}
.blc_wrap02 .blc_inn{top: 50%;transform: translateY(-30%)}
.blc02_stroke{top: 43.75%;width: 87.15%;padding-top: 17.85%;background-image: url('../public/img/page/fran/blc02_stroke.png');transform: translateX(-50%)}
.blc02_cont{width: 33.05%;margin: 0 auto;padding-top: 60.25%;background-image: url('../public/img/page/fran/blc02_cont.png')}

.blc_wrap03{transform: rotate(240deg);transform-origin: center 100vw}
.blc_wrap03 .blc_inn{top: 50%;transform: translateY(-37.7%)}
.blc03_stroke{top: 54.0625%;width: 96.2%;padding-top: 22.75%;background-image: url('../public/img/page/fran/blc03_stroke.png');transform: translateX(-52%)}
.blc03_cont{width: 33.05%;margin: 0 auto;padding-top: 48%;background-image: url('../public/img/page/fran/blc03_cont.png')}
.blc03_stamp01{top: 23.75%;left: -22.3903%;width: 42.8139%;padding-top: 42.8139%;background-image: url('../public/img/page/fran/blc03_stamp01.png')}
.blc03_stamp02{top: 38.3333%;right: -16.3389%;width: 36.9138%;padding-top: 37.065%;background-image: url('../public/img/page/fran/blc03_stamp02.png')}

/* croffle */
.croffle_bg{background-image: url('../public/img/page/fran/croffle_bg.jpg')}
.croffle_head{margin-bottom: 70px;padding-top: 110px}
.croffle_ttl{margin-bottom: 20px;color: #fff}
.croffle_ttl em{font-weight: 800}

.croffle_boxs{padding-bottom:106px}
.croffle_box{width: 480px;height: 540px;padding-top: 50px;background-color: #fff;box-sizing: border-box}
.croffle_box .box_label{width: 184px;margin: 0 auto 24px;border-radius: 24px;background-color: #6f5947;font-size: 26px;font-weight: 700;letter-spacing: -0.03em;line-height: 47px;color: #fff}
.croffle_box .box_label:last-child{background-color:#047e67}
.croffle_box .box_sub{margin-bottom: 6px;font-size: 26px;font-weight: 500;letter-spacing: -0.03em;line-height: 1.4615;color: #333}
.croffle_box .box_sub em{font-weight: 700}
.croffle_box .box_txt{line-height: 2;color: #a3884f}

.croffle_box01{margin-right: 40px}
.croffle_box01 .box_label{background-color:#6f5947}
.croffle_box01 .box_cont{bottom: 0;left: 0;width: 100%}
.croffle_box01 .arr{top: 20px;left: 0;width: 480px;height: 104px;background: url('../public/img/page/fran/croffle_box01_arr.png') no-repeat 0 0}

.croffle_box02 .box_label{background-color:#047e67}
.croffle_box02 .box_cont{bottom: 0;left: 0;width: 100%}
.croffle_box02 .arr{top: 20px;left: 0;width: 480px;height: 104px;background: url('../public/img/page/fran/croffle_box02_arr_231205.png') no-repeat 0 0}

.croffle_wings .wing_line{background-color: #361510}
.croffle_btm{padding-bottom: 40px;background-color: #361510;color: #faf3cd}
.croffle_btm .btm_head{margin-bottom: 72px;padding-top: 70px}
.croffle_btm .btm_ttl{display:inline-block;padding:0 25px;margin-bottom: 33px;line-height:50px;background-color:#fbf3ce}
.croffle_btm .btm_txt{line-height: 1}
.croffle_btm_flow .flow_item{margin-right: 0px}

/* story */
/* .story{padding-bottom: 100px;background-color: #fff}
.story_ttl{padding-top: 125px;font-weight: 800;color: #047e67}
.story_slide .swiper-container{padding-top: 70px}
.story_slide .swiper-slide{width: auto}
.story_sl{width: 550px}
.story_img{opacity: 0.5;;width: 420px;height: 420px;margin: 0 auto 40px;background-image: url('../public/img/page/fran/story_img.jpg');box-sizing: border-box;transform: scale(0.85);transition: all 0.8s}
.story_slide .swiper-slide-active .story_img{opacity: 1;;border-radius: 50%;border: 1px solid #047e67;transform: scale(1)}
.story_stamp{opacity: 0;top: -30px;margin-left: 100px}
.story_slide .swiper-slide-active .story_stamp{opacity: 1}
.story_twrap{opacity: 0;transition: opacity 0.8s}
.story_slide .swiper-slide-active .story_twrap{opacity: 1}
.story_name{width: 203px;margin: 0 auto 30px;border-radius: 21px;background-color: #047e67;font-size: 20px;font-weight: 700;letter-spacing: -0.03em;line-height: 42px;color: #fff}
.story_tag{font-size: 20px;font-weight: 700;letter-spacing: -0.03em;color: #047e67}
.story_btn{top: 220px;width: 20px;height: 38px;font-size: 0}
.story_prev{margin-left: -305px;background-image: url('../public/img/page/fran/story_prev.png')}
.story_next{margin-left: 285px;background-image: url('../public/img/page/fran/story_next.png')} */

/* reason */
.reason{position:relative;padding:130px 0}
.reason_bg{position:absolute;top:0;left:0;width:100%;height:100%;background-image:url('../public/img/page/fran/reason_bg.jpg')}
.reason_ttl_wrap{top:0;left:0}
.reason_inn{width:1260px;margin:0 auto}
.reason_ttl .ttl01{display:block;margin-bottom:10px;color:#faf3cd}
.reason_ttl .ttl02{color:#ffb71c;font-weight:900}
.reason_cont_wrap{width:780px;margin-left:480px}
.reason_cont{width:370px;height:370px;border:1px solid #faf3cd;border-radius:30px;box-sizing:border-box;color:#faf3cd}
.reason_cont:hover{background-color:#ffb71c;border:none;color:#361510}
.reason_cont:nth-child(2n){margin-top:40px;margin-left:40px;margin-bottom:40px}
.reason_cont_num{font-size:40px;line-height:1.2;letter-spacing: -0.03em;font-weight:900}
.reason_cont_ttl{padding-top:30px;font-size:30px;line-height:1.4;letter-spacing: -0.03em;font-weight:700}
.reason_cont_des{padding-top:40px;font-size:20px;line-height:1.6;letter-spacing: -0.015em}

.green_wrap{padding: 30px;background-color: #047e67}
.green_wrap > *{background-color: #faf3cd}

@keyframes blink01 {
    0%{opacity: 1}
    50%{opacity: 0}
    100%{opacity: 1}
}
@keyframes blink02 {
    0%{opacity: 0}
    50%{opacity: 1}
    100%{opacity: 0}
}

/* step */
.step_ttl{margin-bottom: 50px;padding-top: 130px}
.step_lis{display: flex;justify-content: space-between;flex-wrap: wrap}
.step_li{position: relative;display: flex;align-items: center;justify-content: center;width: 260px;height: 260px;border-radius: 50%;background-color: #fff}
.step_li:nth-child(-n+4){margin-bottom: 40px}
.step_num{width: 180px;margin: 0 auto;background-color: #047e67;border-radius: 21px;font-size: 20px;font-weight: 700;letter-spacing: -0.03em;line-height: 42px;color: #fcfbdf}
.step_num em{font-size: 22px;font-weight: 900}
.step_txt{margin-top: 14px;font-weight: 500;color: #047e67}
.step_arr{top: 50%;right: -33px;margin-top: -12px}


/* cost */
.cost{padding-bottom: 130px}
.cost_ttl{margin-bottom: 12px;padding-top: 120px}
.cost .inner{color: #047e67}
.cost_ps{margin-bottom: 20px;font-size: 16px;letter-spacing: -0.025em}
.cost_table{letter-spacing: -0.025em;text-align:center}
.cost_table th{background-color: #047e67;font-size: 22px;font-weight: 700;line-height: 65px;color: #faf3cd}
.cost_table th:not(:last-child){border-right: 1px solid #faf3cd}
.cost_table tbody td{background-color: #fdf9e6;border-bottom: 1px solid #047e67;font-size: 18px;vertical-align: middle}
.cost_table tbody td:not(:last-child){border-right: 1px solid #047e67}
.cost_table tbody td:nth-child(2){padding: 20px 0 20px 30px;line-height: 1.4444;text-align: left}
.cost_table tbody td:nth-child(3){font-size: 20px;font-weight: 700}
.cost_table tbody td:nth-child(4){padding-left: 20px;line-height: 1.3333;text-align: left}
.cost_table tbody .gray{position: relative;color: #99947e}
.cost_table tbody .gray.block{display: block;width: 100%;margin-bottom: 10px}
.cost_table tbody td.yell{padding-left: 0;background-color: #ffb71c;font-weight: 700;text-align: center}
.cost_table .yell em{font-weight: 400}
.cost_table .red_lb{display: block}
.cost_table .td_line,
.cost_table .td_arr{position: absolute;top: 50%;left: 0;right: 0}
.cost_table .td_line{opacity: 0.5;width: 66px;height: 2px;margin: 0 auto;background-color: #047e67}
.cost_table .td_arr{margin-top: -12px;line-height: 10px;text-align: center}
.cost_table tfoot{background-color: #ffb71c}
.cost_table tfoot td{font-size: 30px;font-weight: 700;line-height: 95px}
.cost_table tfoot td.blink{font-size: 60px;font-weight: 900;letter-spacing: 0;text-shadow: -3px 0 #faf3cd, 0 3px #faf3cd, 0 -3px #faf3cd, 3px 0 #faf3cd;animation: blink03 1s infinite step-end}
.cost_table tfoot td.ft30{font-size: 30px}
.cost_txts{margin-top: 20px}
.cost_txt{font-size: 18px;letter-spacing: -0.025em}
.cost_txt:not(:last-child){margin-bottom: 12px}

@keyframes blink03 {
    0%{opacity: 1}
    50%{opacity: 0.3}
    100%{opacity: 1}
}


/* inquiry */
.inquiry{padding-bottom: 130px;background-color: #047e67}
.inquiry_ttl{margin-bottom: 70px;padding-top: 100px}
.inquiry_ttl .ttl60{color: #fff}

.inquiry_wrap{text-align: left}
.iqr_policy_wrap{position:relative;width:1200px;margin:0 auto 50px}
.iqr_policy{position:relative;margin:20px 0 10px;border:1px solid rgba(221,221,221,0.35)}
.iqr_policy > ol{padding:25px}
.iqr_policy > ol > li{margin-top:10px}
.iqr_policy > ol > li:first-child{margin-top:0}
.iqr_check{display: block;padding-left:100px;height:80px;background: #faf3cd}
.iqr_check > input, .iqr_check > label{display:block;float:left}
.iqr_check > label{margin-top:23px;padding-left:50px;height:35px;background-repeat:no-repeat;background-position:left 0;background-image:url('../public/img/page/fran/inquiry_check.png');background-size:35px 70px;cursor:pointer;font-size:18px;letter-spacing:-0.05em;line-height:35px;;color:#047e67}
.iqr_check > label a{position: relative;display: inline-block}
.iqr_check > label a::before{content: '';position: absolute;bottom: 0;left: 0;width: 100%;height: 1px;background-color: #047e67}
.iqr_check > input{position:absolute;left:0;top:0;opacity:0;width:0;height:0}
.iqr_check > input:checked + label{background-position:left -35px}

.iqr_info{width: 1000px; margin: 0 auto}
.iqr_tit{font-size: 25px;font-weight: 700;letter-spacing: -0.05em;color: #faf3cd}
.iqr_dot{position:relative;margin-left:20px;padding-left:15px;font-size:18px;font-weight: 400;letter-spacing: -0.05em;color:#fff}
.iqr_dot:before{content:'';position:absolute;left:0;top:45%;width:5px;height:5px; border-radius: 50%; background-color: #ffb71c}
.iqr_dot > span{font-size:0}

.inquiry_table{width:1000px;margin:34px auto 0;table-layout:fixed}
.inquiry_table th, .inquiry_table td{padding:5px 0}
.inquiry_table th{padding-left:25px;border-right:0;font-size:17px;letter-spacing:-0.05em;color:#222;text-align:left;line-height: 50px}
.inquiry_table td{color:#000;vertical-align: middle}
.inquiry_table th label, .inquiry_table th span{position:relative;font-size:20px;letter-spacing: -0.05em;color:#fff}
.inquiry_table th label.required:before{content:'';position:absolute;left:-25px;top:12px;width:5px;height:5px; border-radius: 50% ; background-color: #ffb71c}
.inquiry_table input[type="text"], .inquiry_table input[type="password"], .inquiry_table select{width:300px;height:50px;padding:0 20px;border: 1px solid #faf3cd;background:transparent;font-size:18px;line-height:35px;color:#fff;box-sizing:border-box}
.inquiry_table select{width:235px;margin-right: 10px;background: transparent url('../public/img/page/fran/sel_arr.png') no-repeat 90% 50%;font-size:16px;color: #faf3cd;appearance: none}
.inquiry_table select option{background-color:#fff;color:#222}
.inquiry_table .text{padding-left:10px;font-size:16px;color:#fff}
.inquiry_table .text span{font-size: 13px}
.inquiry_table textarea{overflow:auto;width:805px;height:130px;padding:10px;background:transparent;border: 1px solid #faf3cd;font-size:16px;line-height:160%;resize:none;color:#fff;box-sizing:border-box}
.inquiry_table input[type="radio"]{overflow:hidden;position:absolute;width:0.1px;height:0.1px;opacity:0;z-index:-1}
.inquiry_table .cust_radios label{width:150px;line-height:50px;border: 1px solid #faf3cd;color:#faf3cd;font-size: 16px;font-weight: 700;text-align:center;cursor:pointer;box-sizing:border-box}
.inquiry_table input[type="radio"]:first-child{border-right: none}
.inquiry_table input[type="radio"]:checked + label{color:#047e67;background:#ffb71c}
.inquiry_table .rd_lbl{display:inline-block;width:150px;line-height:50px;text-align:center;cursor:pointer}
.b_btn01{width:228px;height:65px;margin: 40px auto 0;background-color: #ffb71c;border-radius: 50%;font-size: 26px;font-weight: 700;letter-spacing: -0.015em;line-height: 65px;color: #047e67;text-align: center}

.inquiry_table input:focus, .inquiry_table textarea:focus{outline: none}

/* popup */
.popup{display:none;opacity:0;position:absolute;left:50%;padding:10px;background:#fff;box-shadow:2px 2px 4px rgba(0,0,0,.5)}
.popup div.pop_footer{height:25px;margin-top:8px;font-size:0;line-height:1;color:#000;text-align:right}
.popup div.pop_footer label{display:inline-block;font-size:13px}
.popup div.pop_footer a.popup_x{display:inline-block;width:50px;height:19px;margin-left:5px;padding-top:4px;border:1px solid #e1e1e1;color:#5e5e5e;text-align:center;text-decoration:none;border-radius:3px;box-shadow:0 0 3px #999 inset;font-size:13px;line-height:1.2;cursor:pointer}
